body{
    background-image: url("https://image.shutterstock.com/image-photo/old-brick-black-color-wall-260nw-1605128917.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    color: aliceblue;
}